Code
dconf
Electron
google-chrome
discord
gtk-3.0
Mullvad VPN
mozilla
obs-studio
pulse
systemd
Thunar
xfce4
yay
kwalletrc
mimeapps.list
pavucontrol.ini
go
obsidian
dotfiles
QtProject.conf
/Wallpapers/*

