@define-color   base   #222831;
@define-color   hl_low  #31363F;
@define-color   text    #EEEEEE;
@define-color   red     #D84040;
@define-color   green   #76ABAE;
@define-color   blue    #9ccfd8;
@define-color   yello   #f6c177;

* {
  /* `otf-font-awesome` is required to be installed for icons */
  border: none;
  border-radius: 0;
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: @base;
  border: 2px solid @hl_low;
  border-radius: 30px;
  color: @text;
   
}

tooltip {
  background: @base;
  border: 2px solid @hl_low;
  border-radius: 20px;
}
tooltip label {
  color: @text;
}

button {
  background: none;
  border: none;
  border-radius: 0;
}

#workspaces button {
  padding-left: 2px;
  padding-right: 2px;
  color: @text;
  margin-left:  12px;
}

#workspaces button:hover {
  color: @blue;
  box-shadow: none;
}

#workspaces button.active,
#workspaces button.focused {
  color: @blue;
}
#workspaces button.urgent {
  color: @red;
  animation: blink-animation 2s linear infinite;
}

#network,#bluetooth,#custom-screenshot{
   padding: 0 10px;
}

#custom-power{
  margin-right: 12px;
}
#backlight,
#pulseaudio.input,
#pulseaudio.output,
#language,
#battery,
#clock,
#clock.date,
#custom-power{
  padding: 0 10px;
}

#custom-vpn,
#custom-spotify {
    padding: 0 10px;
   
}




